util/__pycache__/__init__.cpython-310.pyc
util/__pycache__/defaults.cpython-310.pyc
util/__pycache__/mivisionx.cpython-310.pyc
util/__pycache__/release_data.cpython-310.pyc
util/__pycache__/util.cpython-310.pyc
gh_token.bak
gh_token.dat
gh_token.dir
manifest.xml
